.nav-bar {
  font-family: arial;
  background-color: #0099cc;
  color: white;
  position: fixed;
  width: 100%;
  overflow-x: auto;
  z-index: 999;
  box-sizing: border-box;
  top: 0;
}

.nav-bar li {
  display: inline;
  padding: 5px 20px;
}
