.nav-bar {
  font-family: arial;
  background-color: #0099cc;
  color: white;
  position: fixed;
  width: 100%;
  overflow-x: auto;
  z-index: 999;
  box-sizing: border-box;
  top: 0;
}

.nav-bar li {
  display: inline;
  padding: 5px 20px;
}

.ad {
  padding-top: 100px;
  font-family: arial;
  text-align: center;
  background-image: url("http://i.imgur.com/Y1XXd2S.jpg");
  background-size: cover;
  color: white;
  padding-bottom: 300px;
}

.news {
  overflow: scroll;
  font-family: arial;
  float: left;
  width: 75%;
}

.news h1 {
  text-align: center;
}

.twitter {
  float: right;
  height: 100%;
  overflow: scroll;
}

.link-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: arial;
  display: inline;
  background-color: #0099cc;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
