.back-to-home {
  font-family: arial;
  background-color: #0099cc;
  color: white;
  position: fixed;
  width: 100%;
  overflow-x: auto;
  z-index: 999;
  box-sizing: border-box;
  top: 0;
  display: inline;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
  font-family: arial;
}

a:hover {
  color: #e2ba06;
  font-weight: bold;
}

.planning {
  padding-top: 100px;
  font-family: arial;
  color: black;
}
